<header>
  <nav>
    <span class="top-nav-bar">
      <a href="http://localhost:8080/" id=brand>WikiMaps</a>
      <div class="right">
        <a href= "http://localhost:8080/login">Login</a>
        <a href="http://localhost:8080/register">Register</a>
        <a href="http://localhost:8080/maps">Create a Map</a>
        <a href="http://localhost:8080/profile">My Maps</a>
      </div>
    </nav>
</header>
