
<form action="/maps" method = "POST" style="margin-top: 10em;" id="map-form" >
  <p>Create New Map</p>
  <div>
    <input name='title' placeholder="Title">
  </div>

  <div>
      <input type ="text" name="description" placeholder="Description">
    </div>

    <div>
      <input type ="text" name="image_url" placeholder="Image Url">
    </div>
  <div>
      <button type ='submit' href="/profile">Create</button>
      <a id="login-form__cancel" href="/maps">Cancel</a>
  </div>
</form>
