<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>WikiMaps</title>

    <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />






    <!--JS Apps-->
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAcgyKfKOGItTDzqDIuXCxXiaAZRLK-TjA&"
    async defer></script>
    <script type="text/javascript" src="/scripts/map.js"></script>
  </head>

  <body>
    <%- include('partials/_header') %>

    <section id="allMaps">
    <div class="boxed">
      <body>
        <img src="https://cache-graphicslib.viator.com/graphicslib/thumbs674x446/37232/SITours/dinner-with-chef-little-italy-vip-food-tour-in-toronto-395768.jpg" height= "334" width= "350"/>
        <h3>Best Little Italy Spots</h3>
        </body>

    </div>
    <div class="boxed">
      <body>
        <img src="https://www.favfamilyrecipes.com/wp-content/uploads/2018/09/Poutine-500x500.jpg" height= "334" width= "350"/>
        <h3>Best Poutines in Montreal</h3>
        </body>
    </div>
  </section>


</html>
