// See: https://sass-lang.com/
html {
  background-image: url(../img/map3.jpg);
}


.error-message {
  color: red;
  padding-bottom: 5%;
}

body {
  background-color: #EEE;
}

  h1 {
    color: #244751;
  }

  .button-to-authenticate:hover {background-color: #244751}

  .button-to-authenticate {
    padding: 10px 30px;
    font-size: 15px;
    font-family:'Gudea', sans-serif;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    margin: 5%;
  }



.create-new-map {
  display: flex;
  justify-content: center;
}

#map {
  width: 100%;
  height: 800px;
  margin: auto;
  z-index: 50;
}


#form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family:'Gudea', sans-serif
}

#form.login {
  width: 100%;
  height: 100%;
  margin-top: 5em;
  margin-right: 10%;
}

#form.register {
  width: 100%;
  height: 100%;
  margin-top: 5em;
  color: #244751;
}

.input-field {
  margin: 5px;
  font-weight: 100;
  font-style: italic;
}

#create {
  padding-top: 7em;
}
