// See: https://sass-lang.com/

body {
  background-color: #EEE;



  h1 {
    color: #244751;
  }
}

a {
  color: white;
  text-decoration: none;
}

#map {
  width: 100%;
  height: 800px;
  margin: auto;
  z-index: 50;
}


