// See: https://sass-lang.com/

.error-message {
  color: #0f4c5c;
  padding-bottom: 5%;
  font-weight: bold;
}

body {
  background: url(https://images.pexels.com/photos/2255/black-and-white-city-houses-skyline.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  // background-repeat:no-repeat;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;

}

  h1 {
    color:#0f4c5c;
  }

  .button-to-authenticate:hover {color: #f28482}

  .button-to-authenticate {
    padding: 10px 30px;
    font-size: 15px;
    font-family: 'Cairo', sans-serif;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #6b9080;
    border: none;
    border-radius: 15px;
    margin: 5%;
  }



.create-new-map {
  display: flex;
  justify-content: center;
}

#map {
  width: 100%;
  height: 800px;
  margin: auto;
  z-index: 50;
}


#form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Cairo', sans-serif;
}

#form.login {
  width: 100%;
  height: 100%;
  margin-top: 5em;
  margin-right: 3em;
}

#form.register {
  width: 100%;
  height: 100%;
  margin-top: 5em;
  color: #0f4c5c;
}

.input-field {
  margin: 5px;
  font-weight: 100;
  font-style: italic;
  color: #0f4c5c;
  width: 350px;
}

#create {
  padding-top: em;
}

.boxed {
  font-family: 'Cairo', sans-serif;
  border: 3.5px solid #6b9080;
  border-radius: 25px;
  background-color: #e5e6e4;
  margin-top: 9em;
  height: 350px;
  width: 700px;
  display: table-caption;

}
img {
  border-radius: 45px;
  width: 250px;
  height: 250px;
  margin: 35px;
}
#icons {
  display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-bottom: 65px;
    padding-left: 65px;
    padding-right: 35px;
    padding-top: 18px;
    border-top: 2.5px solid #6b9080;
}

i {
  margin-right: 0.5em;
  color: #6b9080;
  font-size: 22px;
}

i:hover {
  color: #f28482;
}

#allMaps {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

img {
  float: left;
}

h3 {
  font-family: 'Cairo', sans-serif;
  font-size: 1.75em;
  padding-top: 45px;
  padding-right: 35px;
  padding-left: 35px;
  color: #0f4c5c;
}

h5 {
  font-family: 'Cairo', sans-serif;
  font-size: large;
  font-style: italic;
  font-weight: 100;
  margin-top: -15px;
  color: #0f4c5c;
}
