// See: https://sass-lang.com/
html {
  background-image: url(../img/map3.jpg);
}


body {
  background-color: #EEE;
}

  h1 {
    color: #244751;
  }



.create-new-map {
  display: flex;
  justify-content: center;


}

#map {
  width: 100%;
  height: 800px;
  margin: auto;
  z-index: 50;
}


#form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#form.login {
  width: 100%;
  height: 100%;
  margin-top: 5em;
  margin-right: 10%;
  font-family: 'Gudea', sans-serif;
}

#form.register {
  width: 100%;
  height: 100%;
  margin-top: 5em;
  font-family: 'Gudea', sans-serif;
  color: red;
}

.input-field {
  margin: 5px;
    font-family: 'Gudea', sans-serif;;
    font-weight: 100;
    font-style: italic;
}

#create {
  padding-top: 7em;
}
