nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  top: 0;
  left: 0;
  height: 120px;
  width: 100%;
  z-index: 100;
  background-color: #126b12;
  color: #ffffff;
}

.top-nav-bar{
  display: flex;
  justify-content: space-between;
}
nav #brand {
  font-family: 'Rancho', cursive;
  font-size: 2em;
  padding: 1.1em;
}

.right {
  flex-direction: row;
  justify-content: space-evenly;
  margin: 20px;
  padding: 1.5em;
}
