nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  top: 0;
  left: 0;
  height: 120px;
  width: 100%;
  z-index: 100;
  background-color: #6b9080;
  color: #ffffff;
}

.loggedInOptions {
 display: flex;
 justify-content: end;
 padding-left: 150px;
}
.top-nav-bar{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
nav #brand {
  font-family: 'Rancho', cursive;
  font-size: 2em;
  padding: 1.1em;
  color:#ffffff;
  text-decoration: none;
}

#brand:hover {
  color:#f28482;
}

.button {
  font-family: 'Rancho', cursive;
  font-size: 1.5em;
  color: #ffffff;
  display: flex;
  text-decoration: none;
  background-color: transparent;
  border: transparent;
}

button:hover {
  color:#f28482;
}
button:focus {
  outline:0;
}

a:hover {
  color:#f28482;
}
a {
  text-decoration: none !important;
}

.authentication {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.loggedInOptions {
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

