#profile-info {
  margin-top: 125px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
li {
  list-style-type: none;
}
table, th, td {
  border: 2px solid #6B9080;
  border-radius: 25px;
  background-color: #E5E6E4;
  width: 50%;
}
.created-favorited {
  font-family: 'Cairo', sans-serif;
  color: #0F4C5C;
}
i {
  padding: 0 10px 0 0;
}
.rows {
  margin: 5px;
  font-family: 'Cairo', sans-serif;
  color: #6B9080;
  font-weight: 900;
}
.rows:hover {
  color: #F28482;
}
a {
  font-family: 'Cairo', sans-serif;
  color: #0F4C5C;
  font-weight: 900;
}
tr {
  margin-top: -5%;
}
