// h1 {
// width: 100%;
// height: 100%;
// margin-top: 5em;
// }


#profile-info {
  margin-top: 125px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


li {
  list-style-type: none;
}

table, th, td {
  border: 2px solid #6b9080;
  border-radius: 25px;
  background-color: #e5e6e4;
  width: 50%;
}

.created-favorited {
  font-family: 'Cairo', sans-serif;
}


i {
  padding: 0 10px 0 0;
}

.rows {
  margin: 5px;
  font-family: 'Cairo', sans-serif;
  color: #6b9080;
  font-weight: 900;
}

.rows:hover {
  color:#2b2d42;
}

a {
  font-family: 'Cairo', sans-serif;
  color: black;
  font-weight: 900;
}

tr {
  margin-top: -5%;
}
